[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
service = "python -m aiohttp_skeleton.main -v"
